.p{
    font-size: 25px ;
    line-height: 1.75;
  }

  .wrapper{
    display: flex !important;
    flex-flow: row wrap;
    padding: 0!important;
    border: 0!important;
}


#description{
    width: 500px;
    margin-bottom: 100px;
}

video{
    width: 450px;
    height: auto;
}
  

